<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse RCP 3.7.0">
<locations>
<location includeAllPlatforms="true" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.eclipse.help.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ui.forms" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.core.net" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="true" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.rcp.nl_de.feature.group" version="3.5.0"/>
<repository location="http://www.ralfebert.de/projects/releases/"/>
</location>
<location includeAllPlatforms="true" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
</target>
