<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.example.addressbook.maps.MapView"
            id="com.example.addressbook.maps.MapView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.example.addressbook.Addresses">
         <view
               id="com.example.addressbook.maps.MapView"
               minimized="false"
               relationship="stack"
               relative="com.example.addressbook.Address"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.example.addressbook.maps.handler.ShowMapHandler"
            id="com.example.addressbook.maps.show"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="com.example.addressbook.maps.show"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.example.addressbook.maps.preferences.MapProviderPreferencesPage"
            id="com.example.addressbook.maps.map"
            name="Karte">
      </page>
   </extension>

</plugin>
